*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
    /* background-color: black */
}
body{           /*background colour*/
    background-color: #0f0617;
}
nav{   /* navbar */
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:black ;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 1.1vw;
    position: sticky;
    top: 0px;
    z-index: 232;
    height: 75px;
    width: 98.8vw;
}
nav input{ 
    width: 17vw;
    height: 5vh;
    border: 0.1px solid rgba(255, 255, 255, 0.734);         /*Search bar*/
    background-color: #0f0617;
    border-radius: 6px;
    padding: 0.5208vw;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.529);
    font-size: 1vw;
}
/* .item8 img{
    padding-left: 8px;
    height: 30px;
    width: 35x;
 } */
nav button{
    width: 6.2500vw;
    height: 5.2vh;
    background-color:#8230c6 ;                      /*buy button*/
    border-radius:8px;
    border: #8230c6 solid ;
    color: white;
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.1vw;
    font-weight: 400;
}
nav button:hover{
    background-color: #4d2071;
    border: #4d2071;
}
                                                    /* nav div1 */
nav .one{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50vw;
}
nav img{
    height: 6vh;
}
.one a{
    text-decoration: none;
    color: #fff;
    border-bottom: #0c0a0e;
}
.one a:hover{
    color: #8230c6;
    filter: drop-shadow(0px 0px 5px #ffffff6a);
    border-bottom: 0.1852vh solid #8230c6;
    transition: border-bottom 1s cubic-bezier(0, 0.5, 1, 1);
}
                                                /* nav div2 */
.two a{
    background-color: #181718;
    padding: 1vh 1vw;
    border: 1px solid rgba(255, 255, 255, 0.47);
    border-radius: 6px;
    text-decoration:none;
    color: #fff;
    font-size: 1.1vw;
}
.two a:hover{
    background-color: #8230c6;
    color: white;
}
.two{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50vw;
}

                                                /* tranding block-Series,movies,toprated,near you,15min free, */
.trand{
    width: 98.8vw;
    padding: 0 0 16px 16px;
    overflow: hidden;
    background-color: black;
}
.tdtop{
    display: flex;
    justify-content: space-between;
    height: 20px;
    color: white;
    font-size: 1.5vw;
    font-weight: 500;
}
.tdtop div{
    padding-right: 20px;
    font-weight: 500;
}
#more{
    color: #8230c6;
}
.img{
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}
.img img{
    border-radius: 10px;
}
                                    /* language genre */
.type{
    width: 98.8vw;
    padding: 20px 16px 16px 16px;
    overflow: hidden;
    background-color: black;
}
#tytop{
    display: flex;
    justify-content: space-between;
    height: 20px;
    font-size: 1.5vw;
    font-weight: 500;
}
.imgty{
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}
.imgty img{
    border-radius: 10px;
    width: 28vw;
 }

                                        /* images blur and scale */
.imgty img:hover,.img img:hover{
    cursor: pointer;
    filter: drop-shadow(0px 0px 5px #ffffff);
    filter: blur(1.5px); 
    transform: scale(1.2,1.2);
    transition-duration:0.2s;
    transition-timing-function: linear;
    border-radius: 5%;
}
                                            /* Footer */
footer{
    width: 98.8vw;
    background-color: black;
    color: white;
    padding:30px;
}
.ftone{
    width: 95vw;
    height: 10vh;
}

/* store+socialmedia and detiles */
.o1{
    display: flex;
    justify-content: space-evenly;
}

                                    /* store */
.o11{
    display: flex;
    justify-content: flex-start;
    width: 60vw;
    align-items: center;

}
.o11 img{
    margin-left: 1.0417vw;
    width: 10vw;
    height: 7vh;
}
.o11 a:hover{
    border-bottom: none;
}

                                    /* Social media` */
.o12{
    width: 30vw;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}
.o12 img{
    width: 4vw;
    background-color: rgb(37, 36, 36);
    padding: 0.5vw;
    border-radius: 25px;
}
.o12 img:hover{
    background-color: #8230c667;
    filter: drop-shadow(0px 0px 5px #ffffff1e);
}
                                                /* details */
.o2{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    width: 35vw;
    font-size: 1.2vw;
 } 
.o21 a,
.o22 a,
.o23 a,
.o24 a{
    text-decoration: none;
    color: rgb(209, 207, 205);
    border-right: 2px solid rgb(219, 213, 213);
    padding-right: 1vw;
}
.o2 a:hover{
    color:#8230c6b8;
    border-bottom: none;
}
                                    /* Dropdown info */
.ft{
    width: 80vw;
    margin-top: 20px;
 }
 .ft div{
    font-size: 1.0417vw;
    margin-top: 20px;
    background-color: #0c0a0e;
    padding: 10px;
    margin-left: 8vw;
 }
 .ft a{
    text-decoration: none;
    color: #fffefe92;
 }
 .ft li{
    list-style:none;
    text-indent: 2vw;
    font-size: 1vw;
    
 }
 .ft a:hover {
    text-decoration: none;
    color: #fff;
    display: block;
 }
 footer .copyright{
    height: 25px;
    background-color: #00000033;
    text-align: center;
    padding-top: 18px;
 }


                                             /* Name for movie,series,show` */
h3{
    display: none;
    color: aliceblue;
    border-radius: 10px;
    position: absolute;
    justify-content: center;
  
}
                                                /* Show Name */
.i1:hover h3, .i2:hover h3,.i3:hover h3,.i4:hover h3,.i5:hover h3{
    display: block;
    position: relative;
    height: 0px;
    cursor: pointer;
    top: -250px;
    font-size: 2.5vw;
    text-shadow: 5px 0px 2px black ;
    width: 15vw;
    text-align: center;
}

.itm1:hover h3,.itm2:hover h3,.itm3:hover h3{
    display: block;
    position: relative;
    height: 0px;
    cursor: pointer;
    font-size: 4vw;
    top: -21vh;
    transform: scale(1.3,1.3);
    text-shadow: 5px 0px 2px black ;
    text-align: center;
    box-sizing: border-box;
}

/* h3 button{
    height: 20px;
    width: 50px;
    font-size: 10px;
    border-radius: 5px;
    position: relative;            play button
    top: 20px;
    background-color: #8230c6;
    border: 0.2px solid black; 
} */
h5,p{
    color: white ;
  
}
.top_{
    position: fixed;
    height:8vh;
    width: 4vw; 
    right: 10px;
    top: 80vh;
    background-color:#8230c675;
    color: rgba(255, 255, 255, 0.352);
    font-size: 3vw;
    line-height: -12px;
    text-align: center;
     display: flex;
     justify-content: center;
     align-items: center;
     border-radius: 10vw;
}
.top_:hover{
background-color: #8230c6;
color:white ;
rotate: 360deg;
transition-duration: 1s;
}
